.left-sidebar {
    -fx-background-color: #B8860B;
}

.right-sidebar {
    -fx-background-color: #7CFC00;

}

.table-view .column-header {
    -fx-background-color: #575454;
    -fx-border-color: #575454;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #dad1d1;
}
.button {
    -fx-background-color: #B8860B;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.menu-bar {
    -fx-background-color: #8e4f03;
}

.menu-bar .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.footer {
    -fx-background-color: #575454;
    -fx-border-color: #575454;
}